{% extends 'base.html'%}
{% block content %}

<style>
  div a{
    font-size: 16px;
  }
</style>
  <!-- content -->
  <div style="height: 20px;"></div>
  <center>
  <div style="width:1000px; font-size: 16px;">
    {% comment %} <h5 class="center">ABOUT DIET DIVERSITY</h5> {% endcomment %}
    <h4 class="heading" style="text-align: center; color: #4CAF50;"><b>ABOUT DIET DIVERSITY </b></h4>
    <p>The idea is to create an application that collects personal information about the child,it should then collect information about the child’s current diet using a tabular form.</p>
     <p> The form should ask for the dishes consumed and their frequency, based on this information the application will produce an analysis of the nutrients consumed by the child compared to the requirement based on their age group. 
      <p>The application will also suggest recipes to overcome scarcity in diet (if any).</p>
    </p>
    
      
  </div></center>
{% endblock %}