.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
	border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
} 
th {
	padding: 0;
  }
  caption {
	color: #002B7F;
	font-weight: bold;
  }
  caption,
  th {
	text-align: center;
  }
  thead {
	background-color: #007C66;
	color: white;
  }

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #B8CAE4
}
.table tr:nth-child(even){
	background: #dae5f4
}

th {
  background-color: #337ab7;
  color: white;
}



#data input, button{
	padding:10px;
	width:90px;

}
.add-row {
	margin: 10px;
	padding: 10x 10px;
	font-size: 0.9em;
	background-color: #337ab7;
	color: white;
  }
  .add-row {
	color: white;
  }

  .delete-row {
	margin: 10px;
	padding: 10x 10px;
	font-size: 0.9em;
	background-color: #337ab7;
	color: white;
  }
  .delete-row {
	color: white;
  }

  .btn btn-primary {
	margin: 10px;
	padding: 10x 10px;
	font-size: 0.9em;
	background-color: #337ab7;
	color: white;
  }
  .btn btn-primary {
	color: white;
  }

    .form-group{
	padding:10px;
	width:90px;
    }

	#mybtn {
		display: none; /* Hidden by default */
		position: fixed; /* Fixed/sticky position */
		bottom: 20px; /* Place the button at the bottom of the page */
		right: 30px; /* Place the button 30px from the right */
		z-index: 99; /* Make sure it does not overlap */
		border: none; /* Remove borders */
		outline: none; /* Remove outline */
		background-color: red; /* Set a background color */
		color: white; /* Text color */
		cursor: pointer; /* Add a mouse pointer on hover */
		padding: 15px; /* Some padding */
		border-radius: 10px; /* Rounded corners */
		font-size: 18px; /* Increase font size */
	  }
	  
	  #myBtn:hover {
		background-color: #555; /* Add a dark-grey background on hover */
	  }